<header>
    <div align="center">
        <img class="img-fluid" width="218" height="124" src="assets/logo.png" alt="logo">
    </div>
    <div align="center">
        <img class="img-fluid" src="assets/lake.jpg" alt="lake">
    </div>
</header>
<div class="container" *ngIf="!mdlIsOpen">
    <form (submit)="onLoginSubmit()">
        <div class="card loginCard" align="center">
            <h2 class="greyText" style="margin-top:1em">User Login</h2>
            <flash-messages></flash-messages>
            <div class="card-body">
                <ul style="list-style-type:none">
                    <li>
                        <label>
                            <b class="yellowText">Username</b>
                        </label>
                        <input type="text" placeholder="Enter Username" [(ngModel)] = "username" name="username" required>
                    </li>
                    <li>
                        <label>
                            <b class="yellowText">Password</b>
                        </label>
                        <input type="password" placeholder="Enter Password" [(ngModel)] = "password" name="password" required>
                    </li>
                    <li>
                        <a [routerLink] = "['/forgotPassword']">Forgot password?</a>
                    </li>
                    <li>
                        <button class="loginButton" type="submit">Login</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="inactiveModal" role="dialog" [ngStyle]="{'display': mdlIsOpen ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Logout</h4>
            </div>
            <div class="modal-body">
                    <p>You have been Logout</p>
                    <button (click)="setmodal()" type="button" data-dismiss="modal" class="gologin">Continue to Login</button>
            </div>
        </div>
    </div>
</div>

<footer *ngIf="!mdlIsOpen">
    <p>© 2012-17 City of Maryville All Rights Reserved 25055 Liberty Road, Maryville, MO 64468</p>
</footer>