<header>
  <div align="center">
    <img class="img-fluid" width="218" height="124" src="assets/logo.png" alt="logo">
  </div>
  <hr class="hr">
  <div align="center">
    <img class="img-fluid" src="assets/lake.jpg" alt="lake">
  </div>
</header>
<div class="container">
  <form (submit)="onSubmitChangePassword()">
    <div class="card loginCard" align="center">
      <h2 class="greyText" style="margin-top:1em">Reset Password</h2>
      <span class="yellowText">{{email}}</span>
      <div class="card-body">
        <hr class="boxHr">
        <ul class="reset-passwd">
          <li>
            <label>
              <b class="yellowText">New Password</b>
            </label>
            <input type="password" placeholder="******" (input)="confirm()" name="password" [(ngModel)] = "password">
          </li>
          <li>
            <label>
              <b class="yellowText">Confirm Password</b>
            </label>
            <input type="password" placeholder="******" (input)="confirm()" name="confirmPassword" [(ngModel)] = "confirmPassword">
          </li>
          <li><flash-messages></flash-messages></li>
          <li>
            <button class="loginButton" type="submit">Confirm</button>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
<footer>
  <p>© 2012-17 City of Maryville All Rights Reserved 25055 Liberty Road, Maryville, MO 64468</p>
</footer>