/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~fullcalendar/dist/fullcalendar.css";
@import '~font-awesome/css/font-awesome.css';

.ng-valid[required], .ng-valid.required  {
    border-left: 3px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 3px solid #a94442; /* red */
}
a:hover {
    cursor: pointer;
}
select.form-control:not([size]):not([multiple]) {
    height: 34px !important;
}
