ul.event_header {
    background-color: #ddd;
}

ul.event_header li {
    margin: auto 0;
}

ul.event_header li a {
    color: black;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    min-width: 600px;
}
.modal-body {
    text-align: center;
}